In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../DATA/Advertising.csv')

In [3]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [4]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [5]:
X = df.drop('sales',axis=1)
y = df['sales']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
X_val, X_test, y_val, y_test = train_test_split(X_other, y_other, test_size=0.5, random_state=101)

In [9]:
len(X), len(X_train),len(X_val), len(X_test)

(200, 140, 30, 30)

# Model Training

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
model = RandomForestRegressor(n_estimators=10, random_state=101)

In [26]:
model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=101)

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [22]:
val_pred = model.predict(X_val)

In [27]:
mean_absolute_error(y_val, val_pred)

0.6575555555555552

In [28]:
mean_squared_error(y_val, val_pred)**0.5

0.8542009478215644

In [29]:
df.describe()['sales']

count    200.000000
mean      14.022500
std        5.217457
min        1.600000
25%       10.375000
50%       12.900000
75%       17.400000
max       27.000000
Name: sales, dtype: float64

## FINAL PERFORMANCE METRICS

In [30]:
test_pred = model.predict(X_test)

In [31]:
mean_absolute_error(y_test, test_pred)

0.5843333333333331

In [32]:
mean_squared_error(y_test, test_pred)**0.5

0.722802416524276

In [33]:
final_model = RandomForestRegressor(n_estimators=10, random_state=101)

In [34]:
final_model.fit(X, y)

RandomForestRegressor(n_estimators=10, random_state=101)

In [35]:
import joblib

In [36]:
joblib.dump(final_model, 'deployment_model.pkl')

['deployment_model.pkl']

## LOADING MODEL

In [37]:
new_columns = joblib.load('col_names.pkl')

In [38]:
new_columns

['TV', 'radio', 'newspaper']

In [39]:
loaded_model = joblib.load('deployment_model.pkl')

In [41]:
loaded_model.predict([[230.1, 37.8,69.2]])

array([21.9])